
<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide img-fluid" src="https://www.strsoh.org/_images/_marketing/100th.jpg" alt="First slide">
        <div class="container-fluid">
          <div class="carousel-caption text-left">
            <h1>A Legacy of Service to Ohio Educators</h1>
            <p>During our 100th anniversary year, we are sharing our history and member stories.</p>
            <p><a class="btn btn-lg btn-primary" href="https://www.strsoh.org/anniversary?utm_source=site&utm_medium=carousel&utm_content=site&utm_campaign=2019_07_100th" role="button">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide img-fluid" src="https://www.strsoh.org/_images/_marketing/supp-save-video.jpg" alt="Second slide">
        <div class="container-fluid">
          <div class="carousel-caption">
            <h1>The Time to Start Saving Is Now</h1>
            <p>Learn More About Supplemental Retirement Plans</p>
            <p><a class="btn btn-lg btn-primary" href="https://www.strsoh.org/videos/supplemental-retirement-plans.html?utm_source=site&utm_medium=carousel&utm_content=video&utm_campaign=2018_12_supp_save_video" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide img-fluid" src="https://www.strsoh.org/_images/_marketing/info-fair.jpg" alt="Third slide">
        <div class="container-fluid">
          <div class="carousel-caption text-right">
            <h1>Attend the Information Fair</h1>
            <p>Get Retirement-ready.</p>
            <p><a class="btn btn-lg btn-primary" href="https://www.strsoh.org/education/seminars/actives/information-fair.html?utm_source=site&utm_medium=carousel&utm_content=event&utm_campaign=2019_06_info_fair" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://www.strsoh.org/_images/about.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>About Us</h2>
        <p>State Teachers Retirement System of Ohio is one of the nation’s premier retirement systems, serving nearly 494,000 active, inactive and retired Ohio public educators. </p>
        <p><a class="btn btn-secondary" href="https://www.strsoh.org/aboutus/" role="button">About STRS &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://www.strsoh.org/_images/strs-ohio.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Mission & Vision</h2>
        <p>The mission of STRS Ohio is to partner with our members in helping to build retirement security.</p>
        <p><a class="btn btn-secondary" href="https://www.strsoh.org/aboutus/strs-ohio/mission.html" role="button">Mission & Vision &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="https://www.strsoh.org/_images/board.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Retirement Board Meeting</h2>
        <p>The State Teachers Retirement Board meets monthly (with the exception of January, July and November) at the STRS Ohio offices in Columbus. Meetings are open to the public.</p>
        <p><a class="btn btn-secondary" href="https://www.strsoh.org/aboutus/board/calendar.html" role="button">Board Calendar &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">STRS Ohio offers a variety of ways for active members and benefit recipients to access information online.</h2>
        <p class="lead">Members can receive the latest news via the eUPDATE email and can access their online personal account to update contact information, register for meetings and counseling sessions, view important documents and much more.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://www.strsoh.org/_images/resources.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Death Benefits (Defined Benefit Plan)</h2>
        <p class="lead">Information about the STRS Ohio-funded death benefit and the optional retiree-funded death benefit. Click on the image to view more.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="assets/pdfs/14-110.pdf"> <img class="featurette-image img-fluid mx-auto" src="https://www.strsoh.org/_images/14-110.jpg" alt="Generic placeholder image"></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Account Withdrawal (All Plans)</h2>
        <p class="lead">Explains who is eligible to withdraw an account, how the withdrawal amount is calculated and payment options</p>
      </div>
      <div class="col-md-5">
          <a href="assets/pdfs/51-104.pdf"> <img class="featurette-image img-fluid mx-auto" src="https://www.strsoh.org/_images/51-104.jpg" alt="Generic placeholder image"></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>


<router-outlet></router-outlet>
